<div class="dropdown">
  <input id="countriesDropdownMenu" class="form-control input-lg dropdown-toggle" type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" placeholder="Enter Country">
  <div id="dropdownMenu" class="dropdown-menu" aria-labelledby="countriesDropdownMenu"></div>
</div>
