<h1>City Matcher</h1>
<div id="content">
	<div class="row">
		<div class="col-sm-12">
			<table id="citiesList" class="table">
		    <thead>
		      <tr>
		        <th>City</th>
						<th>Admin Area</th>
		        <th>Your Selection</th>
		      </tr>
		    </thead>
		    <tbody></tbody>
		  </table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div id="paginator"></div>
		</div>
	</div>
</div>

<div id="testBtn" class="btn btn-primary" title="tooltip test">test</div>
